rofi.lines: 15
rofi.eh: 2
rofi.width: 1000
rofi.padding: 10
rofi.opacity: 80
rofi.bw: 0
rofi.bc: black
rofi.bg: #CCCCCC
rofi.fg: black
rofi.columns: 1
rofi.font: System San Francisco Display 12
rofi.hlfg: #000000
rofi.bgalt: #FFFFFF

xft.dpi: 96
xft.antialias: true

urxvt*loginShell:true
urxvt*transparent:true
urxvt*shading:40
urxvt*background:Black
urxvt*foreground:White
urxvt*scrollBar:false
ursct*scrollBar_floating: true
urxvt*scrollBar_right:true
urxvt*transpscrollbar:true
urxvt*saveLines:32767
!urxvt*font: xft:DejavuSansMono:pixelsize=15
urxvt*font: xft:Monospace:pixelsize=15
urxvt*boldFont:xft:DejavuSansMono:bold:pixelsize=15
xvt.color0  : #000000
URxvt.color8  : #555555
! red
URxvt.color1  : #AA0000
URxvt.color9  : #FF5555
! green
URxvt.color2  : #00AA00
URxvt.color10 : #55FF55
! yellow
URxvt.color3  : #AA5500
URxvt.color11 : #FFFF55
! blue
URxvt.color4  : #0000AA
URxvt.color12 : #5555FF
! magenta
URxvt.color5  : #AA00AA
URxvt.color13 : #FF55FF
! cyan
URxvt.color6  : #00AAAA
URxvt.color14 : #55FFFF
! white
URxvt.color7  : #AAAAAA
URxvt.color15 : #FFFFFF
